<div id="main-content">
<p>You are signed in,  <font size="3"><%= @student.email %></font>  </p>




  <div id="logout-button">
   <%= button_to('Logout', destroy_instructor_session_path, :method => :delete) %>  
  </div>

</div>
