
<table>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>student Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 
  <% @students.each do |student| %>
    <tr>
      <% if student.courses != nil %>
         <% student.courses.each do |course| %>
          <td><%= course.number%>|</td>
         <% end %>
         <td><%= student.email %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Home', root_path %>