<div id="home-content">
    <p>  <%= link_to 'Sign in as Instructor', new_instructor_session_path %> </p>
    <p>  <%= link_to 'Sign in as Student', new_student_session_path %> </p>
    <p>  <%= link_to 'Sign in as Teaching Assistant', new_assistant_session_path %> </p>
</div>
