<div id="course-content">
  <h1> SHOW Course </h1>
  
  <p>
    <strong>NAME:</strong>
    <%= @course.name %>
  </p>
   
  <p>
    <strong>NUMBER:</strong>
    <%= @course.number %>
  </p>
  
  
  <%= link_to 'Back', courses_path %>
  <% if false %> wrong must differnetiate between student and instructor <% end%>
  <%= link_to 'Home', instructor_path %>
</div>
