// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
 
#assign-list-content {
    margin-left: 25px;
    text-align: center;
}

#assign-create-content {
    margin-left: 25px;
}

#assign-show-content {
    margin-left: 25px;
}

#assign-edit-content {
    margin-left: 25px;
}