@import "bootstrap-sprockets";
@import "bootstrap";



.panel.panel-default.devise-bs {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    color: #0000ff;
    //background-color: grey;
}

.panel.panel-default.devise-bs > .panel-heading {
    background-color: maroon;
    color: white;
}


h4 {
    font-size: 24px;
}

.links {
    margin-left: 25.5%;
    margin-right: 25%;
    display: inline-block;
}