// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#ontime{
    color:green;
}

#course_name_num{
    font-weight:bold;
}


#remove_border_line{
    border-bottom: 0;
}